{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'eplekjerne.login' %}">
{% csrf_token %}
<input type="text" name="username" placeholder="E-mail">
<input type="password" name="password" placeholder="Password">
<input type="submit" value="Login">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
<input type="hidden" name="next" value="/admin/" />
</form>
